Node Red Flow.json
[{"id":"1348b9f1.531da6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dd7bbf17.29474","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"ba5ec044.f2f27","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"cc1f6661.f87df8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#8f429e","baseFont":"Times New Roman,Times,serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#8f429e","edited":true},"page-titlebar-backgroundColor":{"value":"#8f429e","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#b36bc1","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#8f429e","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Times New Roman,Times,serif"}},"angularTheme":{"primary":"deep-purple","accents":"deep-purple","warn":"pink","background":"grey","palette":"dark"}},"site":{"name":"Student Advisor Bot","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2bc701c4.c5b6fe","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard","disabled":false,"hidden":false},{"id":"84838bd5.69a7e8","type":"ui_group","z":"","name":"Student Advisor BOT","tab":"afdcee02.dd6c","order":1,"disp":true,"width":"6","collapse":false},{"id":"f389ae59.3a56c","type":"ui_group","z":"","name":"Group 2","tab":"afdcee02.dd6c","order":2,"disp":true,"width":"6","collapse":false},{"id":"afdcee02.dd6c","type":"ui_tab","z":"","name":"AAKM ","icon":"dashboard","disabled":false,"hidden":false},{"id":"8bfaf8c4.c5be38","type":"ui_group","z":"","name":"Another Group","tab":"2bc701c4.c5b6fe","order":1,"disp":true,"width":"6","collapse":false},{"id":"ab781c10.a21a7","type":"watson-conversation-v1","z":"1348b9f1.531da6","name":"AAKM","workspaceid":"f581fc13-0814-4e59-9ce1-680b78070b27","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/bd2c419e-faef-4627-9b88-f0775041bc27","timeout":"","optout-learning":false,"x":170,"y":300,"wires":[[]]},{"id":"692556d4.5d4a98","type":"ui_text","z":"1348b9f1.531da6","group":"84838bd5.69a7e8","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":220,"wires":[]},{"id":"5e3edeab.00e1e","type":"ui_form","z":"1348b9f1.531da6","name":"","label":"Fill Details","group":"84838bd5.69a7e8","order":1,"width":0,"height":0,"options":[{"label":"Enter Your Name","value":"Name","type":"text","required":true,"rows":null},{"label":"Mo.No.","value":"No,","type":"number","required":true,"rows":null},{"label":"E-mail","value":"mail","type":"email","required":true,"rows":null},{"label":"Password","value":"Pass","type":"password","required":true,"rows":null}],"formValue":{"Name":"","No,":"","mail":"","Pass":""},"payload":"","submit":"submit","cancel":"Reset","topic":"","x":190,"y":220,"wires":[["4949c6b5.f50e78"]]},{"id":"4949c6b5.f50e78","type":"function","z":"1348b9f1.531da6","name":"","func":"msg.payload =\" Hi \"+ msg.payload.Name + \" Form Submitted\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":220,"wires":[["692556d4.5d4a98"]]}]