Node Red Flow.json
[{"id":"4249e0b3.31de3","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"dd7bbf17.29474","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"ba5ec044.f2f27","type":"ui_group","z":"","name":"Group 2","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"cc1f6661.f87df8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#8f429e","baseFont":"Times New Roman,Times,serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#8f429e","edited":true},"page-titlebar-backgroundColor":{"value":"#8f429e","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#b36bc1","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#8f429e","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Times New Roman,Times,serif"}},"angularTheme":{"primary":"deep-purple","accents":"deep-purple","warn":"orange","background":"grey","palette":"dark"}},"site":{"name":"Student Advisor Bot","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2bc701c4.c5b6fe","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard","disabled":false,"hidden":false},{"id":"84838bd5.69a7e8","type":"ui_group","z":"","name":"Student Advisor BOT","tab":"afdcee02.dd6c","order":1,"disp":true,"width":"6","collapse":false},{"id":"f389ae59.3a56c","type":"ui_group","z":"","name":"Group 2","tab":"afdcee02.dd6c","order":2,"disp":true,"width":"6","collapse":false},{"id":"afdcee02.dd6c","type":"ui_tab","z":"","name":"AAKM ","icon":"dashboard","disabled":false,"hidden":false},{"id":"8bfaf8c4.c5be38","type":"ui_group","z":"","name":"Another Group","tab":"2bc701c4.c5b6fe","order":1,"disp":true,"width":"6","collapse":false},{"id":"9e446e51.fb9b3","type":"ui_group","z":"","name":"Chatbot","tab":"e440e670.b5cc78","order":1,"disp":true,"width":"15","collapse":false},{"id":"e440e670.b5cc78","type":"ui_tab","z":"","name":"Student Advisor","icon":"dashboard","disabled":false,"hidden":false},{"id":"69e7c628.5cfea8","type":"function","z":"4249e0b3.31de3","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":200,"wires":[["16fd9a66.9dd3d6","b5960c70.ad3fc"]]},{"id":"b5960c70.ad3fc","type":"watson-conversation-v1","z":"4249e0b3.31de3","name":"AAKM","workspaceid":"f581fc13-0814-4e59-9ce1-680b78070b27","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/bd2c419e-faef-4627-9b88-f0775041bc27","timeout":"","optout-learning":false,"x":410,"y":60,"wires":[["91b1ec9b.eedfc","6087d54a.35cbfc"]]},{"id":"91b1ec9b.eedfc","type":"function","z":"4249e0b3.31de3","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":160,"wires":[["dc6f116.07c19f"]]},{"id":"16fd9a66.9dd3d6","type":"ui_text","z":"4249e0b3.31de3","group":"9e446e51.fb9b3","order":2,"width":0,"height":0,"name":"","label":"Your Question","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":300,"wires":[]},{"id":"dc6f116.07c19f","type":"ui_text","z":"4249e0b3.31de3","group":"9e446e51.fb9b3","order":3,"width":0,"height":0,"name":"","label":"Answer","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":320,"wires":[]},{"id":"c98a6fa5.98882","type":"ui_form","z":"4249e0b3.31de3","name":"","label":"","group":"9e446e51.fb9b3","order":1,"width":0,"height":0,"options":[{"label":"Enter Your Question","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":280,"wires":[["69e7c628.5cfea8"]]},{"id":"6087d54a.35cbfc","type":"debug","z":"4249e0b3.31de3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":60,"wires":[]}]